[Unit]
Description=OpenStack Nova Compute Server Pre-Startup
After=syslog.target worker-config-gate.service
Before=nova-compute.service goenabled-worker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/d_nova_setup_cpusets start

[Install]
WantedBy=multi-user.target

