[Unit]
Description=OpenStack Nova Scheduler Server
After=syslog.target network.target

[Service]
Type=simple
#NotifyAccess=all
TimeoutStartSec=0
#Restart=always
User=root
ExecStart=/usr/bin/nova-scheduler

[Install]
WantedBy=multi-user.target

