[Unit]
Description=OpenStack Nova VNC console auth Server
After=syslog.target network.target

[Service]
Type=simple
#NotifyAccess=all
TimeoutStartSec=0
#Restart=always
User=root
ExecStart=/usr/bin/nova-consoleauth

[Install]
WantedBy=multi-user.target

